/*HEAD NAV*/

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-family: "Trade Gothic LT Std Bold", sans-serif;
    line-height: 2.125rem;
    font-weight: bold;
    height: 100px;

}

.logo {
width: 190px;
margin: 20px;
}

nav ul {
   display: flex; 
   gap: 30px;
   list-style-type: none;
   margin-top: 0px;
}

nav ul li,
.accountOrderWrapper {
    font-weight: 600;
    font-size: 22px;
    margin-top: 40px;
    text-transform: uppercase;
}

header a {
    text-decoration: none;
}

.accountOrderWrapper a:visited {
    color: black;
}

#navOrderBtn, 
.accountOrderWrapper #navOrderBtn :visited {
    color: white;
    background-color: #ff2938;
    border: 0px solid white;
    padding: 10px;
}




/*PHOTO GALLARY*/

.mainPhotoWrapper {
    width: 100%;
    height: 550px;
    background-color: aquamarine;
}

/* REWARDS WRAPPER*/
.pokePhone {
    width: 42px;
    height: 70px;
    vertical-align:middle
}

.rewardsWrapper {
    text-align: center;
    margin-top: 20px;
}

.createAccountBtn {
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.signIn {
    color: #FD9F27;
}

/* ORDER GRID*/
.section-header {
    text-align: center;
}

.pokeyourway-item-title{
    font-size: 26px;
    font-family: "Brandon Grotesque", sans-serif;
    font-weight: 500;
}
.pokeyourway-item,
.pokeyourway-item:visited {
    text-decoration: none;
    color: black;
}
.pokeyourway {
    width: 80%;
    margin: auto;
}

.pokeyourway-grid {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.pokeyourway-item {
    flex-basis: 33.33333%;
    text-align: center;
}
.image-wrapper{
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
}

.pokeyourway-item-image {
    align-items: center;
    justify-content: center;
}

/*ORDER BUTTON*/
.image-wrapper .component-cta-btn, 
.image-wrapper .component-cta-btn:visited,
.image-wrapper .component-cta-btn:hover {
    display: none;
    font-size: 20px;
    color: white;
    background-color: #ff2938;
    border: 0px solid white;
    width: 200px;
    padding: 10px 5px;
    position: absolute;
    margin-top: 180px;
    border-radius: 5px;
}

/*REWARDS SECTION*/
.pokeRewards {
    margin-top: 100px;
}
.rewardsSectionHeader {
    text-align: center;
    width: 80%;
    margin: auto;
}
.rewardsSectionHeader h2{
    font-family: "Brandon Grotesque", sans-serif;
    font-size: 46px;
}

.rewardsSectionHeader p{
    font-size: 24px; 
    font-family: "Trade Gothic LT Std Bold", sans-serif;
    color: #818181;
    line-height: 1.4;
    margin-top: -20px;
    font-weight: 200    ;

}

.rewardsSectionWrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.phoneFrame {
    height: 470px;
    width: 350px;
    background-color: aquamarine;
    display: inline-block;
}

.rewardsList {
    list-style-type: none; /* Remove bullets */
    vertical-align: middle;

}

.rewardsCircle {
    display: inline-block;
    height: 80px; 
    width: 80px;     
    background-color: #54a5ab;
    color: white;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}

.rewardsList li {
    font-size: 28px;
    font-family: "Trade Gothic LT Std Bold", sans-serif;

}